<% layout('layouts/boilerplate') %>
<h1 class="display-4 pt-5 text-light">About Us</h1>
<div class="row">
    <p class="col-md-6 align-self-center text-light">PayParity is an organization committed to addressing and eradicating the issue of pay gap disparities within companies which is currently at an alarming state. Founded on the principles of equity and fairness, our mission is to empower all the people in tech and businesses to access equal pay that promotes equality and help them in creating a more welcoming working environment for all the people. At PayParity, we firmly believe that creating a more inclusive and fair environment is not just a moral imperative but also a strategic advantage for businesses as it will directly reflect positively on an individuals performance which will help the individual at large.
    </p>
    <img src="/images/PayParity.png" alt="" class="col-md-6" style="height: 500px; width: 500px;">
</div>

<h1 class="display-4 pt-5 text-light">Where People go for a better education!</h1>
<div class="row">
    <img src="/images/Homepage.png" alt="" class="col-md-6" style="height: 50%; width: 50%;">
    <p class="col-md-6 align-self-center text-light">Where Employees go for a better pay with reviewspace designed to reflect what people want to know about the corporate system, we're helping employees find the environment and spaces where they will thrive.
    </p>
</div>

<h1 class="display-4 pt-5 text-light">Our Vision</h1>
<div class="row">
    <p class="col-md-6 align-self-center text-light">Our vision at PayParity is a world where all individuals are treated fairly, regardless of their gender. We envision a space where every Employee, regardless of their abilities and disabilities, has equal access to opportunities, benefits, and education that accurately reflect their skills, experience, and contributions. </p>
    <img src="/images/vision.png" alt="" class="col-md-6" style="height: 50%; width: 50%;">
</div>

<h1 class="display-4 pt-5 text-light text-center">Services</h1>
    <div class="row">
        <div class="mb-3 col-md-4">
            <img src="/images/Community Space (1).png" class="card-img-top" alt="...">
        </div>
        <div class="mb-3 col-md-4">
            <img src="/images/Community Space (2).png" class="card-img-top" alt="...">
        </div>
        <div class="mb-3 col-md-4">
            <img src="/images/Community Space (3).png" class="card-img-top" alt="...">
        </div>
    </div>
