<% layout('layouts/boilerplate') %>
<h1 class="display-4 pt-5 text-light">Unlocking Learning with Text-to-Speech</h1>
<div class="row mb-3">
    <p class="col-md-6 align-self-center text-light">At AccessEd, we are committed to providing innovative resources that enhance the learning experience for students of all ages and abilities. One of the exciting tools we offer is Speech-to-Text technology, a powerful resource that opens up a world of possibilities for learners.</p>
    <img src="/images/speech.png" alt="" class="col-md-6" style="height: auto; width: auto;">
</div>

<h1 class="display-4 pt-5 text-light">What is Text-to-Speech Technology?</h1>
<div class="row mb-3">
    <img src="/images/116.png" alt="" class="col-md-6" style="height: 50%; width: 50%;">
    <p class="col-md-6 align-self-center text-light">Text-to-Speech technology, also known as Automatic Speech Recognition (ASR), is a cutting-edge tool that converts spoken language into written text. It harnesses the power of artificial intelligence to transcribe spoken words accurately and quickly. This transformative technology has numerous applications in education, making learning more accessible and efficient.
    </p>
</div>
<div class=""><button class="btn btn-success mb-3" onclick=" window.open('http://localhost:5000/','_blank')">Text to Speech</button></div>